.[pP]rivate/
.[tT]emp/
.[dD]ocuments/

# Local datasheets (PDFs will be gitignored for public release)
datasheets/_download/
datasheets/_download/**
datasheets/**/*.pdf
datasheets/**/*.PDF

*_temp.json
.DS_Store